<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>Habolt MX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style type="text/css">
        .header {
            height: 100px;
            font-size: 25px;
            font-weight: 500;
            text-align: center;
            color: #ffb123;
            border-top: solid 1px #5f5e5e;
            border-bottom: solid 1px #5f5e5e;
        }

        .header_price {
            height: 100px;
            font-size: 50px;
            font-weight: 800;
            text-align: center;
            color: #4c4c4c;
            /* border-top: solid 1px #5f5e5e; */
            border-bottom: solid 1px #5f5e5e;
        }

        .verticalCenter {
            display: flex !important;
            align-content: center !important;
            align-items: center !important;
        }

        .centerImg {
            display: block;
            margin: auto;
        }

        .header_ {
            height: 100px;
            font-size: 25px;
            text-align: center;
            font-weight: 200;
            color: #ffb123;
        }

        .header_name {
            height: 100px;
            font-size: 15px;
            text-align: center;
            font-weight: 200;
            color: #4c4c4c;
        }

        .header_date {
            height: 50px;
            font-size: 18px;
            text-align: right;
            font-weight: 200;
            color: #4c4c4c;
        }

        .image {
            height: 100px;
        }

        #hab {
            border-radius: 5px;
            background-color: #000;
            padding-left: 10px;
            max-width: 100px;
        }

        .proposal {
            text-align: center;
            color: #4c4c4c;
            font-size: 14px;
        }

        .header-text {
            margin: 2% 0%;
            font-size: 20px;
            font-weight: 400;
            color: #4a4848;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #4a4848;
            color: white;
            text-align: center;
            height: 50px;
        }
    </style>
</head>

<body>
    <nav class="navbar" style="background-color: #4a4848; height: 100px;">
        <a class="navbar-brand">
            <img src="https://habolt.mx/wp-content/uploads/2015/12/logo-light.png" alt="Habolt" style="zoom: 40%;">
        </a>
    </nav>
    <!-- <div style="height: 35px; background-color: #4a4848;">
        &nbsp;
    </div> -->
    <div style="height: 25px;">
        &nbsp;
    </div>
    &nbsp;
    <div class="header_date">
        {{date}}
    </div>
    <div style="height: 35px;">
        &nbsp;
    </div>
    <div class="header verticalCenter">
        <span class="centerImg">Auto</span>
    </div>
    <section>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead style="color: #4c4c4c; font-size: 14px;">
                    <tr>
                        <th scope="col" style="text-align: center;">Identificador</th>
                        <th scope="col" style="text-align: center;">Marca</th>
                        <th scope="col" style="text-align: center;">Modelo</th>
                        <th scope="col" style="text-align: center;">Versión</th>
                        <th scope="col" style="text-align: center;">Kilometraje</th>
                        <th scope="col" style="text-align: center;">Año</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="proposal">
                            {{identified}}
                        </td>
                        <td class="proposal">
                            {{brand}}
                        </td>
                        <td class="proposal">
                            {{model}}
                        </td>
                        <td class="proposal">
                            {{version}}
                        </td>
                        <td class="proposal">
                            {{km}}
                        </td>
                        <td class="proposal">
                            {{year}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="header_">
        &nbsp;
    </div>
    <div class="header verticalCenter">
        <span class="centerImg">Propuesta</span>
    </div>
    <section>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead style="color: #4c4c4c; font-size: 14px;">
                    <tr>
                        <th scope="col" style="text-align: center;">Precio menor</th>
                        <th scope="col" style="text-align: center;">Precio mayor</th>
                        <th scope="col" style="text-align: center;">Promedio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="proposal">
                            ${{props.less}}
                        </td>
                        <td class="proposal">
                            ${{props.higher}}
                        </td>
                        <td class="proposal">
                            ${{props.average}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="header_">
        &nbsp;
    </div>
    <section>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead style="color: #4c4c4c; font-size: 14px;">
                    <tr>
                        <th scope="col" style="text-align: center;">Sugerido de Venta</th>
                        <th scope="col" style="text-align: center;">U/P - Cantidad</th>
                        <th scope="col" style="text-align: center;">U/P - Porcentaje</th>
                        <th scope="col" style="text-align: center;">Sugerido de compra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="proposal">
                            ${{props.suggestedpurchase}}
                        </td>
                        <td class="proposal">
                            ${{props.suggestedsale}}
                        </td>
                        <td class="proposal">
                            ${{props.percentageup}}
                        </td>
                        <td class="proposal">
                            ${{props.quantityup}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="header_">
        &nbsp;
    </div>
    <div class="header verticalCenter">
        <span class="centerImg">Autos evaluados</span>
    </div>
    <section>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead style="color: #4c4c4c; font-size: 14px;">
                    <tr>
                        <th scope="col" style="text-align: center;">Nombre</th>
                        <th scope="col" style="text-align: center;">Precio</th>
                        <th scope="col" style="text-align: center;">Kilometraje</th>
                        <th scope="col" style="text-align: center;">Contacto</th>
                        <th scope="col" style="text-align: center;">Ubicación</th>
                        <th scope="col" style="text-align: center;">Precio de Negociación</th>
                        <th scope="col" style="text-align: center;">Precio de Transacción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in results %}
                    <tr style="border-top: 1px solid #dee2e6; padding-top: 2px">
                        <td class="proposal">
                            {{i.name}}
                        </td>
                        <td class="proposal">
                            {{ i.price }}
                        </td>
                        <td class="proposal">
                            {{ i.km }}
                        </td>
                        <td class="proposal">
                            {{ i.contact }}
                        </td>
                        <td class="proposal">
                            {{ i.location }}
                        </td>
                        <td class="proposal">
                            ${{ i.negotiation }}
                        </td>
                        <td class="proposal">
                            ${{ i.pricetransaction }}
                        </td>
                    </tr>
                    &nbsp;
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <div style="height: 35px;">
        &nbsp;
    </div>
    <div class="header_name verticalCenter">
        Creado por: {{first_name}}
    </div>
    <div class="header_">
        &nbsp;
    </div>
    <section>
        <p style="color: #4f4f4f; font-weight: 400; font-size: 12px; text-align:justify">La Inteligencia Artificial de
            HABOLT ha realizado un análisis a profundidad para llegar al
            precio de mercado
            de este auto. Este documento es confidencial y propiedad de HABOLT prohibida su reproducción total o
            parcial.</p>
    </section>
</body>

</html>