﻿<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
	<meta name="viewport" content="width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = 0" />
	<title>Habolt - Vive la experiencia</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<style>
		h1,
		h2,
		h3 {
			font-family: 'Roboto', sans-serif;
			font-size: 28px;
		}

		h3 {
			color: #ffffff;
			text-align: center;
		}

		h2 {
			color: #ffbd00;
		}

		p {
			font-size: 16px;
			line-height: 40px;
		}

		body {
			position: absolute;
			width: 90vw;
			margin: 5vw;
			background-color: #ffffff;
			color: #323232;
			font-family: 'Open Sans', sans-serif;
		}

		ul {
			list-style: none;
		}

		i {
			color: #ffbd00;
		}

		a {
			text-decoration: none;
		}

		.header {
			display: block;
			background-color: #323232;
			height: 100px;
		}

		.logo {
			position: relative;
			height: 50px;
			margin-top: 25px;
			margin-left: 35%;
		}

		.carro {
			float: right;
			padding-right: 8%;
			padding-top: 10%;
			width: 45%;
		}

		.texto {
			position: relative;
			text-align: left;
			margin-left: 5%;
			margin-top: 10%;
		}

		.titulo:after {
			content: "";
			display: block;
			width: 5%;
			padding-top: 10px;
			border-bottom: 3px solid #ffbd00;
		}

		.titulo2:after {
			content: "";
			display: block;
			width: 5%;
			padding-top: 10px;
			margin: 0 auto;
			border-bottom: 3px solid #ffbd00;
		}

		.boton {
			display: block;
			background-color: #ffbd00;
			border-radius: 10px;
			padding: 10px;
			width: 10%;
			margin-left: 44%;
			color: #ffffff;
			text-align: center;
			box-shadow: 3px 3px 8px #323232;
		}

		.foot {
			display: block;
			background-color: #323232;
			height: 100px;
		}

		.mapa {
			position: relative;
			margin-top: 30px;
		}

		@media only screen and (max-width: 48em) {
			.titulo {
				font-size: 16px;
			}

			.titulo2 {
				font-size: 16px;
			}

			.logo {
				height: 50%;
			}

			.header {
				height: 6em;
			}
		}
	</style>

</head>

<body>
	<div class="header">
		<img class="logo" src="https://habolt.mx/wp-content/uploads/2015/12/logo-light.png">
	</div>

	<div class="texto">
		<img class="carro" src="https://s3.amazonaws.com/media.habolt.mx/right.png">

		<h1 class="titulo">Hola<b> {{ name }}</b><br>Tu visita ya está confirmada</b></h1>

		<p>Estamos de acuerdo contigo, hay que ver para creer. Por eso hemos agendado
			<br>tu visita para que conozcas tu próximo auto.</br></p>

		<p>Información del auto: <br>
			<ul>
				<li><i class="fa fa-angle-right"></i><b>{{ car }}</b></li>
				<li><i class="fa fa-angle-right"></i><b>Fecha de la visita {{ date }}</b></li>
				<li><i class="fa fa-angle-right"></i><b>Hora de la visita {{ time }}</b></li>
			</ul>
		</p>

		<p>Dirección: Carretera México - Toluca No. 5322 Tlaxa, El Yaqui<br>Cuajimalpa de Morelos CDMX.</p>

		<p>Los datos de contacto que tenemos registrados son:<br>

			<ul>
				<li><i class="fa fa-angle-right"></i><b>Correo Electrónico</b></li>
				<li><i class="fa fa-angle-right"></i><b>Teléfono</b></li>
			</ul><br>
			Si piensas que alguien más puedes estar interesado en el auto que quieres, apártalo con $20,000 por
			72hrs.<br>Recuerda que este cargo es 100% reembolsable.
		</p>

		<h2>*ADVERTENCIA*</h2>

		<p>Probablemente te irás estrenando.</p>
		<ul>
			<li><i class="fa fa-check"></i> Los mejores autos seminuevos están en HABOLT.</li>
			<li><i class="fa fa-check"></i> Consulta con tu guía HABOLT el método de pago, nuestra propuesta de
				financiamiento y la garantía extendida especial para tu nuevo auto.</li>
			<li><i class="fa fa-check"></i> ¿Tienes un auto y quieres usarlo como parte del pago? <br>¿Excelente! lo
				tomamos a cuenta y hacemos el proceso práctico, cómodo y seguro.</li>
		</ul>

		<p>¿Tienes dudas? Contáctanos en <a href="https://habolt.mx">habolt.mx</a></p>

		<a class="boton"
			href="https://api.whatsapp.com/send?phone=5215512600670&text=Hola%20estoy%20interesado%20en%20comprar%20/%20vender%20un%20auto.">Contacto</a>
		<div class="mapa">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3764.1165767938355!2d-99.2784757!3d19.3641043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201db98a11421%3A0xa88cc4d5ee8d040!2sHabolt!5e0!3m2!1ses-419!2smx!4v1575056674765!5m2!1ses-419!2smx"
				width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>

		<div class="foot">
			<h3 class="titulo2">HABOLT<br>
				¡Porque tu auto siempre vale!</h3>
		</div>
	</div>
</body>

</html>