﻿<!DOCTYPE html>
<html>

<head>
	<title>Habolt - Vive la experiencia</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<style>
		h1,
		h2,
		h3 {
			font-family: 'Roboto', sans-serif;
			font-size: 28px;
		}

		h3 {
			color: #ffffff;
			text-align: center;
		}

		p {
			font-size: 16px;
			line-height: 40px;
			text-align: justify;
		}

		body {
			position: absolute;
			width: 100%;
			margin: 5vw;
			background-color: #ffffff;
			color: #323232;
			font-family: 'Open Sans', sans-serif;
		}

		ul {
			list-style: none;
		}

		i {
			color: #ffbd00;
		}

		a {
			text-decoration: none;
		}

		.header {
			display: block;
			background-color: #323232;
			height: 100px;
		}

		.logo {
			position: relative;
			height: 50px;
			margin-top: 25px;
			margin-left: 35%;
		}

		.carro {
			float: right;
			padding-right: 8%;
			padding-top: 10%;
			width: 45%;
		}

		.texto {
			position: relative;
			text-align: left;
			margin-left: 5%;
			margin-top: 10%;
		}

		.titulo:after {
			content: "";
			display: block;
			width: 5%;
			padding-top: 10px;
			border-bottom: 3px solid #ffbd00;
		}

		.titulo2:after {
			content: "";
			display: block;
			width: 5%;
			padding-top: 10px;
			margin: 0 auto;
			border-bottom: 3px solid #ffbd00;
		}

		.boton {
			display: block;
			background-color: #ffbd00;
			border-radius: 10px;
			padding: 10px;
			width: 10%;
			margin-left: 44%;
			color: #ffffff;
			text-align: center;
			box-shadow: 3px 3px 8px #323232;
		}

		.foot {
			display: block;
			background-color: #323232;
			height: 100px;
		}

		.mapa {
			position: relative;
			margin-top: 30px;
		}


		@media only screen and (max-width: 48em) {
			.titulo {
				font-size: 16px;
			}

			.titulo2 {
				font-size: 16px;
			}

			.logo {
				height: 50%;
			}

			.header {
				height: 6em;
			}
		}
	</style>

</head>

<body>
	<div class="header">
		<img class="logo" src="https://habolt.mx/wp-content/uploads/2020/07/auto_habolt.png">
	</div>

	<div class="texto">
		<img class="carro" src="https://habolt.mx/wp-content/uploads/2020/07/auto_habolt.png">

		<h1 class="titulo">Hola<b> {{ name }}</b><br>Bienvenido a <b>HABOLT</b></h1>

		<p>Ahora estás un clic más cerca de vender tu auto de una manera fácil y segura.
			<br>Este es el correo que ingresaste para darle seguimiento a la compra de tu auto:<b> {{ mail }}</b></br>
		</p>

		<p>Con la información que nos otorgaste, tenemos para ti la siguiente oferta. <br>
			{% for ver in version %}
			<ul>
				<li><i class="fa fa-angle-right"></i><b>{{ ver }}</b></li>
			</ul>
			{% endfor %}
			<ul>
				<li><i class="fa fa-angle-right"></i><b>{{ ofertas |safe }}</b></li>
			</ul>
		</p>

		<p>Esta tiene una validez de 7 días y está sujeta a la valoración 360º que debemos realizar a tu auto. </p>

		<p>Recuerda que si tu elección final es la venta de contado y tu auto pasa con éxito la valoración 360º,
			¡recibirás tu pago de inmediato!<br>
			En breve un asesor de experiencia HABOLT se pondrá en contacto contigo para confirmar tus datos y resolver
			tus dudas.<br><b> También puedes llamarnos al teléfono 55 8526 6545 o chatear con nosotros al 55 3177
				9640.</b></p>

		<p>Si decides hacer la valoración 360° de tu auto recuerda tener a la mano lo siguiente:</p>

		<ul>
			<li><i class="fa fa-check"></i> Copia o foto digital de la tarjeta de circulación.</li>
			<li><i class="fa fa-check"></i> Copia o foto digital de la factura de origen. Si tiene endosos, es necesaria
				la identificación de cada uno</li>
			<li><i class="fa fa-check"></i> Comprobantes de pago de las tenencias al día.</li>
			<li><i class="fa fa-check"></i> Último talón de verificación.</li>
			<li><i class="fa fa-check"></i> Llaves.</li>
			<li><i class="fa fa-check"></i> Manuales y carnet de servicios.</li>
			<li><i class="fa fa-check"></i> Copia de tu identificación oficial.</li>

		</ul>

		<p>No pierdas la oportunidad de vender tu auto al mejor precio. <b>Sólo en HABOLT.</b></p>

		<div class="mapa">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3764.1165767938355!2d-99.2784757!3d19.3641043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201db98a11421%3A0xa88cc4d5ee8d040!2sHabolt!5e0!3m2!1ses-419!2smx!4v1575056674765!5m2!1ses-419!2smx"
				width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>

		<div class="foot">

			<h3 class="titulo2">HABOLT<br>
				¡Porque tu auto siempre vale!</h3>
		</div>
	</div>
</body>

</html>