﻿<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <meta name="viewport" content="width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = 0" /> -->
	<title>Habolt - Vive la experiencia</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<style>
		h1,
		h2,
		h3 {
			font-family: 'Roboto', sans-serif;
			font-size: 28px;
		}

		h3 {
			color: #ffffff;
			text-align: center;
		}

		h2 {
			color: #ffbd00;
		}

		p {
			font-size: 16px;
			line-height: 40px;
		}

		body {
			position: absolute;
			width: 90vw;
			margin: 5vw;
			background-color: #ffffff;
			color: #323232;
			font-family: 'Open Sans', sans-serif;
		}

		ul {
			list-style: none;
		}

		i {
			color: #ffbd00;
		}

		a {
			text-decoration: none;
		}

		.header {
			display: block;
			background-color: #323232;
			height: 100px;
		}

		.logo {
			position: relative;
			height: 50px;
			margin-top: 25px;
			margin-left: 35%;
		}

		.carro {
			float: right;
			padding-right: 8%;
			padding-top: 10%;
			width: 45%;
		}

		.texto {
			position: relative;
			text-align: left;
			margin-left: 5%;
			margin-top: 10%;
		}

		.titulo:after {
			content: "";
			display: block;
			width: 5%;
			padding-top: 10px;
			border-bottom: 3px solid #ffbd00;
		}

		.titulo2:after {
			content: "";
			display: block;
			width: 5%;
			padding-top: 10px;
			margin: 0 auto;
			border-bottom: 3px solid #ffbd00;
		}

		.boton {
			display: block;
			background-color: #ffbd00;
			border-radius: 10px;
			padding: 10px;
			width: 10%;
			margin-left: 44%;
			color: #ffffff;
			text-align: center;
			box-shadow: 3px 3px 8px #323232;
		}

		.foot {
			display: block;
			background-color: #323232;
			height: 100px;
		}

		.mapa {
			position: relative;
			margin-top: 30px;
		}


		@media only screen and (max-width: 48em) {
			.titulo {
				font-size: 16px;
			}

			.titulo2 {
				font-size: 16px;
			}

			.logo {
				height: 50%;
			}

			.header {
				height: 6em;
			}
		}
	</style>

</head>

<body>
	<div class="header">
		<img class="logo" src="https://habolt.mx/wp-content/uploads/2015/12/logo-light.png">
	</div>

	<div class="texto">
		<img class="carro" src="https://s3.amazonaws.com/media.habolt.mx/left.png">

		<h1 class="titulo">¡Felicidades<b> {{ name }}</b></h1>

		<p>Estás a un solo paso de vender tu auto {{ brand }}, {{ model }}</p>

		<p>Información de la cita: <br>
			<ul>
				<li><i class="fa fa-angle-right"></i><b>Fecha de la visita {{ date }}</b></li>
				<li><i class="fa fa-angle-right"></i><b>Hora de la visita {{ time }}</b></li>
			</ul>
		</p>

		<p>Para la valoración, recuerda tener a la mano lo siguiente: <br>
			<ul>
				<li><i class="fa fa-angle-right"></i><b>Copia o foto digital de la tarjeta de circulación.</b></li>
				<li><i class="fa fa-angle-right"></i><b>Copia o foto digital de la factura de origen. Si tiene endosos,
						es necesaria la identificación de cada uno.</b></li>
				<li><i class="fa fa-angle-right"></i><b>Comprobantes de pago de las tenencias al día.</b></li>
				<li><i class="fa fa-angle-right"></i><b>Último talón de verificación.</b></li>
				<li><i class="fa fa-angle-right"></i><b>Llaves.</b></li>
				<li><i class="fa fa-angle-right"></i><b>Manuales y carnet de servicios.</b></li>
				<li><i class="fa fa-angle-right"></i><b>Copia de tu identificación oficial.</b></li>
			</ul>
		</p>

		<p>Con la información que nos otorgaste, tenemos para ti la siguiente oferta</p>
		<ul>
			<li><i class="fa fa-angle-right"></i><b>{{ choose }}</b></li>
		</ul><br>

		<p>Esta tienen una validez de 7 días y está sujeta a la valoración 360 que has agendado.<br>


			Si tu elección final es la venta inmediata y tu auto pasó con éxito la valoración 360 ¡recibirás tu pago el
			mismo día!
		</p>

		<p>En breve un guía HABOLT se pondrá en contacto contigo para confirmar tus datos y resolver tus dudas. También
			puedes llamarnos al: (+52) 558 526 6545 o chatear con nosotros al <a target="blank"
				href="https://api.whatsapp.com/send?phone=5215512600670&text=Hola%20estoy%20interesado%20en%20comprar%20/%20vender%20un%20auto.">
				(+52) 553 177 9640 </a>
			<div class="mapa">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3764.1165767938355!2d-99.2784757!3d19.3641043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201db98a11421%3A0xa88cc4d5ee8d040!2sHabolt!5e0!3m2!1ses-419!2smx!4v1575056674765!5m2!1ses-419!2smx"
					width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>

			<div class="foot">
				<h3 class="titulo2">HABOLT<br>
					¡Porque tu auto siempre vale!</h3>
			</div>
	</div>
</body>

</html>